:host::ng-deep .p-dialog-header {
    padding: 24px 24px 0 24px;
  }
:host::ng-deep .p-dialog-content{
  padding: 0 24px 24px 24px;
}

h1 {
  margin: 10px 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #3B82F6;
}
ul{
  margin-top: 16px;
  font-family: Inter, sans-serif;
  color: #1E293B;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
li {
  margin-left: 20px;
  margin-top: 5px;
}
header{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #1E293B;
}
