<div>
  <button
    routerLink = "transport"
  >Транспорт
    <img
    src="assets/all-images/all-categoies/arrow-on-category.svg"
    alt="arrow"
    >
  </button>
  <button
    routerLink = "realty"
  >
    Недвижимость
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
  <button
    routerLink = "jobs"
  >Работа
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
  <button
    routerLink = "services"
  >Услуги
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
  <button
    routerLink = "personal-items"
  >Личные вещи
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
  <button class="not-button">Для дома и дачи
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
  <button class="not-button">Автозапчасти и аксессуары
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
  <button class="not-button">Электроника
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
  <button class="not-button">Хобби и отдых
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
  <button class="not-button">Животные
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
  <button class="not-button">Бизнес и оборудование
    <img
      src="assets/all-images/all-categoies/arrow-on-category.svg"
      alt="arrow"
    ></button>
</div>

