<body class="container">
<div class="name-of-posts">
  <h1>Рекомендации для вас</h1>
</div>
<ul class="posts">
  <li class="post1">
    <img class="img1" src="assets/all-images/main-imgs/main-img1.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post2">
    <img class="img2" src="assets/all-images/main-imgs/main-img2.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post3">
    <img class="img1" src="assets/all-images/main-imgs/main-img1.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post4">
    <img class="img2" src="assets/all-images/main-imgs/main-img2.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post5">
    <img class="img2" src="assets/all-images/main-imgs/main-img2.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post6">
    <img class="img1" src="assets/all-images/main-imgs/main-img1.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post7">
    <img class="img2" src="assets/all-images/main-imgs/main-img2.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post8">
    <img class="img1" src="assets/all-images/main-imgs/main-img1.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post9">
    <img class="img1" src="assets/all-images/main-imgs/main-img1.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post10">
    <img class="img2" src="assets/all-images/main-imgs/main-img2.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post11">
    <img class="img1" src="assets/all-images/main-imgs/main-img1.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post12">
    <img class="img2" src="assets/all-images/main-imgs/main-img2.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post13">
    <img class="img2" src="assets/all-images/main-imgs/main-img2.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post14">
    <img class="img1" src="assets/all-images/main-imgs/main-img1.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post15">
    <img class="img2" src="assets/all-images/main-imgs/main-img2.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
  <li class="post16">
    <img class="img1" src="assets/all-images/main-imgs/main-img1.png" alt="">
    <p class="name">Гитара Fender</p>
    <p class="price">20 000 ₽</p>
    <p class="address">Москва, Ленинский проспект</p>
    <p class="date">Сегодня 14:12</p>
  </li>
</ul>
</body>
