<img
  (click)="getSelectProduct(product.id)"
  *ngIf="product.imagesIds.length"
  class="img" src="http://dzitskiy.ru:5000/Images/{{product.imagesIds[0]}}" alt="{{product.name}}">
<img
  (click)="getSelectProduct(product.id)"
  class="img"
  *ngIf="!product.imagesIds.length"
  src="assets/all-images/main-imgs/main-img4.png">

<p class="name">{{product.name}}</p>
<p class="price">{{product.cost | currency}}</p>
<p class="address">{{product.location}}</p>
<p class="date">{{product.createdAt| date: "dd.MM.YYYY, H:mm"}}</p>

