<h1 class="create-add-name" xmlns="http://www.w3.org/1999/html">Новое объявление</h1>
<form
  [formGroup]="createForm" (ngSubmit)="create()"
>
  <div class="all-forms-create">
    <div class="new-ad-categories">
      <p>Выберите категорию<span style="color: red">*</span></p>
      <div class="categories">
        <p-dropdown
          [options]="categories$ | async"
          formControlName="CategoryId"
          optionLabel="name"
          placeholder="Нажмите, чтобы выбрать"
          class="ng-dirty ng-invalid"
        />
      </div>
    </div>
    <div>
      <p>Название объявления<span style="color: red">*</span></p>
      <input
        class="new-ad-form1"
        type="text"
        placeholder="Что хотите продать?"
        formControlName="Name"
        appValidation

      >
    </div>
    <div>
      <p>Описание</p>
      <textarea class="new-ad-description"
        type="text"
        placeholder="Расскажите подробнее о товаре или услуге"
        formControlName="Description"
        appValidation
      ></textarea>
    </div>
    <div>
      <p>Адрес (место проведения сделки)<span style="color: red">*</span></p>
      <input
        class="new-ad-form1"
        type="text"
        placeholder="Начните вводить адрес"
        formControlName="Location"
        appValidation
      >
    </div>
    <div>
      <p>Электронная почта<span style="color: red">*</span></p>
      <input
        class="new-ad-form1"
        type="text"
        placeholder="Введите контактный адрес электронной почты"
        formControlName="Email"
        appValidation
      >
    </div>
    <div>
      <p>Номер телефона<span style="color: red">*</span></p>
      <input
        class="new-ad-form1"
        type="text"
        placeholder="Введите контактный номер телефона"
        formControlName="Phone"
        appValidation>
    </div>
    <div
      class="create-add-image"
    >

      <p-button
        [style]= "{'width':'200px', 'height': '35px', 'justify-content': 'center', 'gap':'5px', 'margin-left':'16px', 'flex-direction': 'row-reverse'}"
        formControlName="Images"
        icon="pi pi-images"
        appValidation
        (click)="triggerClick()"
      >
        <input
          style="display:none;"
          (change)="onFileUpload($event)"
          #input type="file" />
        Добавить картинки
      </p-button>
      <p>Максимум 10 картинок в формате jpeg, png или heic</p>
    </div>
    <div *ngIf="imagePreview" class="selected-image-new-add">
      <img [src]="imagePreview" alt="uploaded img"/>
<!--      <button-->
<!--        type="submit"-->
<!--        class="uploadImg"-->
<!--        (click)="upload()"-->
<!--      >Загрузить изображение</button>-->
    </div>
    <div>
      <p>Цена(₽)<span style="color: red">*</span></p>
      <input
        class="new-ad-cost"
        type="number"
        placeholder="0"
        formControlName="Cost"
        appValidation>
    </div>
    <button
      [disabled]="createForm.invalid"
    >Разместить объявление
    </button>
    <a
    >Перейти к созданному объявлению</a>
  </div>
</form>
