.add-page{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.name {
  margin-top: 10px;
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}
.price {
  margin-top: 32px;
  width: 416px;
  height: 36px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}
.give-number {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 416px;
  height: 68px;
  background: #3B82F6;
  border-radius: 4px;
  border-style: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  cursor: pointer;
}
.give-number:hover {
    background-color: #1f63dc;
    border-color: #1f63dc;
    cursor: pointer;
}
.categories-add {
  width: 100%;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #64748B;
}
.address {
  margin-top: 40px;
  margin-bottom: 8px;
  width: 416px;
  height: 32px;
  left: 1191px;
  top: 400px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #1E293B;
}
.address-add {
  width: 416px;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E293B;
}
.open-on-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 45px;
  width: 160px;
  height: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #3B82F6;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}
.open-on-map:hover{
  color: #cf3434;
  cursor: pointer;
  border-color: #cf3434;
}
.description-name {
  margin-top: 32px;
  width: 416px;
  height: 32px;
  left: 1191px;
  top: 524px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #1E293B;
}
.description {
  margin-top: 8px;
  width: 400px;
  height: 96px;
  left: 1191px;
  top: 564px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E293B;
}
