<div class="container">
  <div class="add-page">
    <div class="1">
      <h2 class="price">80 000 ₽</h2>
      <button class="give-number">Показать номер телефона</button>
      <div class="address-add">
        <h3 class="address">Адрес</h3>
        Севастополь, ул. Гоголя, 33Б
        <button class="open-on-map">Открыть на карте</button>
      </div>
      <h4 class="description-name">Описание</h4>
      <p class="description">Продается MacBook Pro 13 8/256
        Сам ноутбук в отличном состоянии, количество циклов перезарядки 123,
        в комплекте: коробка,ноутбук,блок,кабель и чек!</p>
    </div>
    <div class="image-and-name">
      <h1 class="name">Macbook pro 13 2020 m1 8/256</h1>
      <app-carusel>
        <app-main-image-carousel class="main-image" [image]="currentImage()"/>
        <app-mini-images-line
          class="mini-images"
          [images]="images()"
          [activeId]="currentImage().id"
          (changeCurrent)="setCurrentImage($event)"
        />
      </app-carusel>
    </div>
  </div>
</div>
